/* //* Контейнер полосы прокрутки: */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/** Стилизация дорожки под ползунком: */
::-webkit-scrollbar-track {
    background: #f2f8f5;
    box-shadow: 0 0 2px #88bfa3 inset;
}

/** Стилизация дорожки под ползунком при наведении: */
::-webkit-scrollbar-track:hover {
    background: #e5f1eb;
}

/** Стилизация ползунка: */
::-webkit-scrollbar-thumb {
    background: #a2cdb7;
    border-radius: 8px;
    border: 1px solid #eeeeee;
}

/** Стилизация ползунка при наведении на него: */
::-webkit-scrollbar-thumb:hover {
    background: #7BB899;
}

/** Стилизация навигационных кнопок: */
::-webkit-scrollbar-button {
    background-color: #f2f8f5;
}

/** Стилизация навигационных кнопок при наведении на них: */
::-webkit-scrollbar-button:hover {
    background-color: #e5f1eb;
}

/** Дальнейшая стилизация навигационных кнопок: */
::-webkit-scrollbar-button:single-button {
    border-style: solid;
    height: 10px;
    width: 10px;
}

/** Стилизация верхней навигационной кнопки: */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #a2cdb7 transparent;
}

/** Стилизация верхней навигационной кнопки при наведении: */
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent #7BB899 transparent;
}

/** Стилизация нижней навигационной кнопки: */
::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 10px 5px 0 5px;
    border-color: #a2cdb7 transparent transparent transparent;
}

/** Стилизация нижней навигационной кнопки при наведении: */
::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: #7BB899 transparent transparent transparent;
}

/** Стилизация левой навигационной кнопки: */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    border-width: 5px 10px 5px 0;
    border-color: transparent #a2cdb7 transparent transparent;
}

/** Стилизация левой навигационной кнопки при наведении: */
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    border-color: transparent #7BB899 transparent transparent;
}

/** Стилизация правой навигационной кнопки: */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #a2cdb7;
}

/** Стилизация правой навигационной кнопки при наведении: */
::-webkit-scrollbar-button:horizontal:single-button:increment:hover {
    border-color: transparent transparent transparent #7BB899;
}
